<template name="Game">

  <div id="gameDiv">

  </div>

  <br/>

  {{#if currentPlayer}}

    <button id="endGameButton" class="btn btn-primary">End Game</button>

    <br/>

    <button id="resetGameButton" class="btn btn-primary">Reset Players</button>

    <hr/>

      {{#each players}}

        Player: {{_id}}
        <br/>

      {{/each}}

  {{else}}

    <button id="startGameButton" class="btn btn-primary">Start Game</button>

  {{/if }}



</template>